apiVersion: apiserver.config.k8s.io/v1
kind: AdmissionConfiguration
plugins:
- name: PodSecurity
  configuration:
    apiVersion: pod-security.admission.config.k8s.io/v1beta1
    kind: PodSecurityConfiguration
    defaults:
      enforce: "{{ psa_default_level }}"
      enforce-version: "latest"
      audit: "{{ psa_default_level }}"
      audit-version: "latest"
      warn: "{{ psa_default_level }}"
      warn-version: "latest"
    exemptions:
      usernames: []
      runtimeClasses: []
      namespaces: [{{ psa_exempt_namespaces | join(', ') }}]
